@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
.footer {
  bottom: 0;
  width: 100%;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 1.2rem 1.5rem;
  text-align: center;
  align-items: center;
  font-size: 1rem;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
  font-family: 'Josefin Sans', sans-serif;
}
body {
  padding-top: 3rem;
  color: #5a5a5a;
}
.carousel {
  margin-bottom: 4rem;
}
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
.carousel-item {
  height: 25rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}
.enh1{
    margin-bottom: .5rem!important;
    font-family: inherit!important;
    font-weight: 400!important;
    line-height: 1.2!important;
}
.navbar-brand{
  font-family: 'Josefin Sans', sans-serif;
}
.jingu-pic{
  background-image: url(../img/meji-jingu.jpg);
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 16rem;
    background-size: cover;
    background-position: center;
}
.jingu-pic .caption{
  bottom: 3rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
}
.asakusa-pic{
  background-image: url(../img/asakusa.jpg);
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 16rem;
    background-size: cover;
    background-position: center;
}
.asakusa-pic .caption{
  bottom: 3rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
}
.kokyo-pic{
  background-image: url(../img/kokyo.jpg);
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 16rem;
    background-size: cover;
    background-position: center;
}
.kokyo-pic .caption{
  bottom: 3rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
}
.navbar{
  z-index: 1030;
}
h1{
  text-align: center;
}
article p{
  text-indent: 1em;
}
.article-info{
  text-indent: 0;
}
.main-area article{
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}
@media screen and (min-width: 1200px) {
  .main-area{
    width: 70vw;
  }
}
label{
  color: #212529!important;
}
.breadcrumb{
  font-size: 0.75em;
}

.ashbox{
  background-color: #f5f5f5;
  color: black;
  border-radius: 2px;
}
.ashbox p{
  text-indent: 0;
}
.monospace{
font-family: 'Source Code Pro', monospace;
}
.image-shortcode{
  width: 75%
}
@media screen and (max-width: 576px){
  article h1{
    font-size: 1.8em!important;
  }
  article h2{
    font-size: 1.4em!important;
  }
  article h2:first-letter {
    font-size: 1.5em;
  }
  article h3{
    font-size: 1.2em!important;
  }
  .image-shortcode{
    width: 100%
  }
}
article h2{
  border-bottom: double 4px #80CBC4;
  padding-top: 0.25em;
  padding-left: 0.25em;
}
article h2:first-letter {
  font-size: 1.2em;
  color: #009688;
}
article h3{
  border-left: 3px solid #80CBC4;
  margin-top: 0.5em;
  padding-left: 0.5em;
}
.ie_alert{
  padding: 20px 20px;
color: #000;
background: #fc3;
}
.ie_alert a{
 color: #f00;
 text-decoration: underline;
}
.logo{
  height: 1.25em;
  margin: 0.125rem;
  vertical-align: top;
  -webkit-filter: drop-shadow(0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2););
  filter: drop-shadow(0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2););
}
.pn-1, .pn-2, .pn-3, .pn-12, .pn-23, .pn-31{
  display: none;
}

  #result {
    margin: 1rem;
  }
  .item_title {
    font-weight: bolder;
  }
  .item_excerpt {
    background: white;
    margin: 0.5em 2em 1em;
    padding: 0.5em;
    border: dashed 1px lightgray;
    font-size: smaller;
  }
  .item_excerpt b {
    background: pink;
  }
  .form-group{
    width: 75%;
    margin: 1rem auto;
  }
  #searchword{
    width: 100%;
    margin: 0 auto;
  }
  ::selection {
      background-color: rgba(0,150,136,0.7);
      color: white;
  }
